.footer {
  background-color: var(--text-color-gg);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items:center;
  padding: 0 3%;
  height: 200px;
  margin-top: 4%;
}

.logo {
  width: 12%
}

.footerComponents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 2% 0 0;
}

.copyright {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .footer {
    height: auto;
    padding: 2%;
  }
  .footerComponents {
    flex-direction: column;
  }
  .logo {
    width: 35%;
  }
}