.querySection {
  display: flex;
  flex-direction: row;
}
.searchArea {
  display: flex;
  flex-direction: row;

}

.clearBtnSection {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 3%;
  margin-left: -4%;
  z-index: 3;
}

.searchBtnSection {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-left: 2%;
}

.clearBtn {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--text-color-gg);
  margin-right: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .clearBtnSection {
    padding-top: 6%;
  }
  .querySection{
    flex-direction: column;
    margin-top: 0;
  }
  .searchArea {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
  }
}